
* {
  text-align: center;
  font-weight: normal;
  font-family: "Open Sans", Arial, fantasy;
  background-color: #351947;
  color: antiquewhite


}



header {
  font-size: 2em;
}


header {
  width: 100%;
  color: #ffffff;
  left: 0;
}



input {
  width: 80%;
  border: 2px solid #a000c3;
  border-radius: 20px;
  background-color: white;
}



input{
  cursor: pointer;
  color: black;
}


#generate {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: #a000c3;
  border: none;
  color: white;
  padding: 15px;
  width: 150px;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #351947;
  border-radius: 30px;
}

#generate:hover {
  background: white;
  box-shadow: 0 2px 10px 5px #a801ce;
  color: black;
}

#generate::after {
  content: "";
  background: #a000c3;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#generate:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#generate:focus {
  outline: 0
}

#out_link {
  color: #000000;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: white;
}